/node_modules
/public/storage
storage/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/bootstrap
composer.lock
package.json
server.php
yarn.lock
/artisan
composer.json
config
gulpfile.js
phpunit.xml
readme.md
.buildpath
.env.example
.project
.settings/

